.istok-web-regular {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.istok-web-bold {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.istok-web-regular-italic {
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.istok-web-bold-italic {
  font-family: "Istok Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.encabezado{
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

