p {
	font-size: 30px;
	font-family: sans-serif;
	background-size:;
	background-color:;
}

h1 {
	font-size: 45px;
	color: darkviolet;
	font-family: serif;
	font-style: italic;
}

h2 {
	font-size: 40px;
	color: darkviolet;
	font-style: italic;
}
h3 {
	font-size: 38px;
	color: darkseagreen;
	font-style: italic;
}

